body
{
    background-color: #232741;
    margin: 0px;
    padding: 0px;
}

#particles-js
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
    
#overlay 
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: -1; 
}

.main
{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.container
{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.sidenav
{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #15182c;
    border-right: 1px solid crimson;
}

.sidenavTitle
{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 40px;
    word-wrap: break-word;
}

.sidenavTitle::first-letter
{
    color: crimson;
}

.navPos
{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.nav
{
    list-style: none;
    margin-left: 0px;
    padding: 0px;
}

li
{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    transition-duration: 0.5s;
}

li:hover
{
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
    color: grey;
}

a:focus
{
    color: crimson;
}

a
{
    text-decoration: none;
    color: white;
}

i
{
    float: left;
    margin-left: 50px;
}
    
.link:after
{
    content: '';
    position: relative;
    width: 0; height: 2px;
    display: block;
    right: 0;
    background: #fff;
    transition: width .5s ease;
    -webkit-transition: width .5s ease;
}
     
.link:hover:after
{
    width: 100%;
    left: 0;
    background: #fff;
}

.content
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding-left: 5px;
}

.firstContentPos
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstContent
{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    text-align: center;
}

.title
{
    font-size: 84px;
    border-image: linear-gradient(to bottom, crimson , rgba(0, 0, 0, 0)) 1 100%;
    border-width: thin;
    border-style: solid;
    padding: 15px;
    word-wrap: break-word;
    animation: mooveUpDown 2s infinite alternate;
    -webkit-animation: mooveUpDown 2s infinite alternate;
    position: relative;
}

.title::first-letter
{
    color: crimson;
    font-size: 94px;
}

.desc
{
    font-size: 24px;
}

@-webkit-keyframes mooveUpDown 
{
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes mooveUpDown
{
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@media screen and (max-width: 750px) 
{
    .sidenav
    {
        display: none;
    }
    
    .firstContent
    {
        width: 100%;
        border-radius: 50px 0px 0px 50px;
    }
}